@page "/Employee/Edit/{CurrentID}"
@using BlazorCRUD.Models.ViewModel
@inject BlazorCRUD.Models.Services.EmployeeService _employeeservice
@inject NavigationManager NavigationManager

<h3>Edit</h3>
<hr />
<br />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="EmployeeId" class="col-form-label">Employee ID</label>
                <input form="EmployeeId" class="form-control" @bind="@model.EmployeeId" />
            </div>
            <div class="form-group">
                <label for="Firstname" class="col-form-label">First name</label>
                <input form="Firstname" class="form-control" @bind="@model.Firstname" />
            </div>
            <div class="form-group">
                <label for="Lastname" class="col-form-label">Last name</label>
                <input form="Laststname" class="form-control" @bind="@model.Lastname" />
            </div>
            <div class="form-group">
                <label for="Age" class="col-form-label">Age</label>
                <input form="Age" class="form-control" @bind="@model.Age" />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="Submit" @onclick="@EditEmployee" />
                &nbsp;
                <input type="button" class="btn btn-primary" value="Cancel" @onclick="@cancel" />

            </div>
        </div>

    </div>
</form>




@code {

    [Parameter]
    public string currentID { get; set; }

    EmployeeViewModel model = new EmployeeViewModel();

    protected override async Task OnInitializedAsync()
    {
        model = await Task.Run(() => _employeeservice.GetEmployeeDetails(Convert.ToInt32(currentID)));
    }

    protected void EditEmployee()
    {
        bool result = _employeeservice.UpdateEmployee(model);
        if (result)
        {
            NavigationManager.NavigateTo("/Employee/Index");
        }

    }

    protected void cancel()
    {
        NavigationManager.NavigateTo("/Employee/Index");
    }

}
